/* Global styles and vars */

:root {
    --main-bg-color: #ffffff;
    --section-bg-color: #f5f4fa;
    --footer-bg-color: #2f303a;
    --accent-color: #2196f3;

    --border-color: #eeeeee;

    --title-txt-color: #212121;
    --txt-color: #757575;
    --sec-txt-color: #ffffff;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    letter-spacing: 0.02em;

    color: var(--txt-color);
    background-color: var(--main-bg-c);
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

.link {
    text-decoration: none;
    color: inherit;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    outline: solid sandybrown;
}
/* Navigation */


.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;

    color: var(--title-txt-color);
}

.logo-accent,
.nav-link.current {
    color: var(--accent-color);
}

.nav-link,
.header .contacts {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}

.nav-link {
    color: var(--title-txt-color);
}

/* --Main-- */

.hero {
    padding: 200px 0;
    text-align: center;

    background-color: var(--footer-bg-color);
}

.page-title {
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
    color: var(--sec-txt-color);
}

/* --Buttons-- */
.button {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;

    cursor: pointer;

    font-family: inherit;
}

.hero .button {
    width: 200px;
    height: 50px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;

    color: var(--sec-txt-color);
    background-color: var(--accent-color);
}

.hero .button:hover {
    background-color: #188ce8;
}

.filters .button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;

    color: var(--title-txt-color);
    background-color: var(--section-bg-color);
}

.filters .button:hover,
.filters .button:focus {
    border: none;
    outline: none;
    color: var(--sec-txt-color);
    background-color: var(--accent-color);
}

/* Headings */

.section-title,
.subtitle {
    letter-spacing: 0.03em;

    color: var(--title-txt-color);
}

.section-title {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.17;
    text-align: center;

}

.subtitle {
    margin-bottom: 10px;

    font-size: 16px;
    line-height: 1.19;
}

.features .subtitle {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.staff .subtitle {
    margin: 30px auto 10px;
    font-weight: 500;
}

.projects .subtitle {
    margin-bottom: 4px;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

/* Content */
.section:not(.staff) {
    margin-bottom: 94px;

    outline: solid teal;
}

.features .text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.staff {
    padding: 94px 0;
    background-color: var(--section-bg-color);
}

.staff-card {
    padding-bottom: 30px;
    /* text-align: center; */
    background-color: var(--main-bg-color);

    outline: solid blue;
}

.filters {
    margin-bottom: 50px;
}

.projects-card {
    outline: solid brown;
}

.projects-txt {
    padding: 20px 24px
}

/* Footer */
.footer {
    padding: 60px 0;

    background-color: var(--footer-bg-color);
}

.footer .logo {
    display: inline-block;
    margin-bottom: 20px;
    
    color: var(--sec-txt-color);
}

.address {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--sec-txt-color);
}

.footer .contacts {
    color: rgba(255, 255, 255, 0.6);
}

.nav-link:hover,
.nav-link:focus,
.contacts:hover,
.contacts:focus {
    color: var(--accent-color);
}