/* ------------Global styles and vars------------ */

:root {
    --main-bg-color: #ffffff;
    --section-bg-color: #f5f4fa;
    --footer-bg-color: #2f303a;
    --accent-color: #2196f3;

    --title-txt-color: #212121;
    --txt-color: #757575;
    --sec-txt-color: #ffffff;

    --border-r: 4px;
    --section-pad: 94px;
    --card-interval: 30px;
    --neg-card-interval: -30px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    letter-spacing: 0.02em;

    color: var(--txt-color);
    background-color: var(--main-bg-c);
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.hidden {

    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.link {
    text-decoration: none;
    color: inherit;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* ------------Header------------ */

.header {
    border-bottom: 1px solid #ececec;
}

.header .container, .header-menu, .header .list {
    display: flex;
    align-items: center;
}

.header li:not(li:last-child){
    margin-right: 50px;
}

.nav-link,
.header .contacts {
    display: block;
    padding: 32px 0;
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}

.header .logo {
    display: block;

    margin-right: 93px;
    padding: 32px 0;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;

    color: var(--title-txt-color);
}

.logo-accent,
.nav-link.current {
    color: var(--accent-color);
}

.nav-link {
    color: var(--title-txt-color);
}

.header-contacts {
    margin-left: auto;
}

/* ------------Hero------------ */

.hero {
    padding: 200px 0;
    text-align: center;

    background-color: var(--footer-bg-color);
}

.page-title {
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
    color: var(--sec-txt-color);
}

/* ------------Buttons------------ */
.button {
    padding: 10px 32px;

    border: none;
    border-radius: var(--border-r);

    cursor: pointer;

    font-family: inherit;
}

.hero .button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: var(--sec-txt-color);
    background-color: var(--accent-color);
}

.hero .button:hover {
    background-color: #188ce8;
}

.filters .button {
    padding: 0 20px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;

    color: var(--title-txt-color);
    background-color: var(--section-bg-color);
}

.filters .button{
    margin-right: 8px;
}

.filters .button:hover,
.filters .button:focus {
    color: var(--sec-txt-color);
    background-color: var(--accent-color);
    outline: none;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ------------Headings------------ */
.section-title {
    margin-bottom: 50px;
    
    text-align: center;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;

    color: var(--title-txt-color);
}

.subtitle {
    margin-bottom: 10px;

    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    color: var(--title-txt-color);
}

.features .subtitle {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.staff .subtitle {
    margin-bottom: 10px;

    font-weight: 500;
}

.projects .subtitle {
    margin-bottom: 4px;

    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

/* ------------Content------------ */

.section:not(.features) {
    padding: var(--section-pad) 0;
}

/* ------------Features------------ */

.features {
    padding-top: 74px;
    
}
.features .list {
    display: flex;
    margin-right: var(--neg-card-interval);
}

.features li{
    flex-basis: calc((100% - 120px)/4);
    margin-right: var(--card-interval);
    
}

.features .text {
    padding-right: 1px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* ------------Specialization------------ */

.specialization .list {
    display: flex;
    margin-right: var(--neg-card-interval);
}

.specialization-card {
    flex-basis: calc((100%-90px)/3);
    margin-right: var(--card-interval);
}

/* ------------Staff------------ */

.staff {
    background-color: var(--section-bg-color);
}

.staff .list {
    display: flex;
    margin-right: var(--neg-card-interval);
}

.staff-card {
    flex-basis: calc((100%-120px)/4);
    margin-right: var(--card-interval);

    background-color: var(--main-bg-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-bottom-right-radius: var(--border-r);
    border-bottom-left-radius: var(--border-r);
}

.staff-txt {
    padding: 30px;
    text-align: center;
}

/* ------------Portfolio------------ */

.filters {
    display: flex;
    justify-content: center;
    margin-right: -8px;
    margin-bottom: 50px;
}

.projects{
    display: flex;
    flex-wrap: wrap;

    margin: 0 var(--neg-card-interval) var(--neg-card-interval) 0;
}

.projects-card {
    flex-basis: calc((100% - 90px)/3);
    margin: 0 var(--card-interval) var(--card-interval) 0;
}

.projects-card {
    outline: solid 1px #eeeeee;
}

.projects-txt {
    padding: 20px 24px;
}

/* ------------Footer------------ */

.footer {
    padding: 60px 0;

    background-color: var(--footer-bg-color);
}

.footer .logo {
    display: block;
    margin-bottom: 20px;
    
    color: var(--sec-txt-color);
}

.address {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--sec-txt-color);
}

.footer .contacts {
    color: rgba(255, 255, 255, 0.6);
}

.nav-link:hover,
.nav-link:focus,
.contacts:hover,
.contacts:focus {
    color: var(--accent-color);
    outline: none;
}